WebServices/WebContent/wsdl/MathOperations.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://it.neoteric.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://it.neoteric.com" xmlns:intf="http://it.neoteric.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://it.neoteric.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getProduct">
    <complexType>
     <sequence>
      <element name="premiumVO" type="impl:PremiumVO"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="PremiumVO">
    <sequence>
     <element name="interest" type="xsd:int"/>
     <element name="premium" type="xsd:int"/>
     <element name="principal" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="getProductResponse">
    <complexType>
     <sequence>
      <element name="getProductReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDifference">
    <complexType/>
   </element>
   <element name="getDifferenceResponse">
    <complexType>
     <sequence>
      <element name="getDifferenceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSum">
    <complexType/>
   </element>
   <element name="getSumResponse">
    <complexType>
     <sequence>
      <element name="getSumReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getDifferenceResponse">

      <wsdl:part element="impl:getDifferenceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDifferenceRequest">

      <wsdl:part element="impl:getDifference" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProductResponse">

      <wsdl:part element="impl:getProductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProductRequest">

      <wsdl:part element="impl:getProduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSumResponse">

      <wsdl:part element="impl:getSumResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSumRequest">

      <wsdl:part element="impl:getSum" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MathOperations">

      <wsdl:operation name="getProduct">

         <wsdl:input message="impl:getProductRequest" name="getProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:getProductResponse" name="getProductResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDifference">

         <wsdl:input message="impl:getDifferenceRequest" name="getDifferenceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDifferenceResponse" name="getDifferenceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSum">

         <wsdl:input message="impl:getSumRequest" name="getSumRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSumResponse" name="getSumResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MathOperationsSoapBinding" type="impl:MathOperations">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDifference">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDifferenceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDifferenceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSum">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSumRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSumResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MathOperationsService">

      <wsdl:port binding="impl:MathOperationsSoapBinding" name="MathOperations">

         <wsdlsoap:address location="http://localhost:8080/WebServices/services/MathOperations"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
